.expensive{
    color: rgb(179, 54, 54);
}

.cheap{
    color: rgb(68, 172, 115);
}

.book-details{
    
}

.nav-btns{
    display: flex;
    justify-content: space-between
}

.next-btn{
    align-self: ;
}